* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: silver;
}

.cell {
  height: 30px;
  border: solid;
  flex: 1 0 10%;
  background-color: lightblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 30px 0 30px 0;
}

.click {
  background-color: rgb(78, 181, 216);
}
